.header {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 4vw 0;
}
.header__subtitle {
  margin: 0;
  text-align: center;
  font-size: 5vw;
  line-height: 100%;
  font-weight: 400;
  color: #2688eb;
}