@font-face {
  font-family: SegoeUI;
  font-display: swap;
  src:  url("./assets/fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"), 
        url("./assets/fonts/SegoeUIBold/SegoeUIBold.eot") format("eot"),
        url("./assets/fonts/SegoeUIBold/SegoeUIBold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: SegoeUI;
  font-display: swap;
  src:  url("./assets/fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"), 
        url("./assets/fonts/SegoeUIRegular/SegoeUIRegular.eot") format("eot"),
        url("./assets/fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}